<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST" th:action="@{/logincheck}" ">
      	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" id="username"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
        <div th:if="${error != null}" class="alert alert-danger" role="alert">Invalid username or password</div>
        <div th:if="${logout != null}" class="alert alert-info" role="alert">Logout Succesfuly</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
        </button>
      </form>

    </div> <!-- /container -->

</body>
</html>